@charset "UTF-8";

@media (max-width: 4000px){

body
{
background-color:#000000;
margin:0px;
border:0px;
padding:0px;
}

div.front_end_roster{
background-image:url("lineup_bg.png");
background-position:left bottom;
width:1300px;
height:300px;
color:#ffffff;
font-family: 'Courier Prime', monospace;
font-size: 15px;
font-weight: 400;
text-align:left;
z-index:-10;
position:relative;
}

div.pokemon_input_field{
background-color:#ffffff;

font-family: 'Courier Prime', monospace;
font-size: 15px;
font-weight: 400;
text-align:left;
z-index:-10;
}
div.pokefield{
background-color:#ffffff;

font-family: 'Courier Prime', monospace;
font-size: 15px;
font-weight: 400;
text-align:left;
z-index:-10;
}

/*div.pokemon_slot{
border-width:1px;
border-style:solid;
border-color:#000000;
}*/

img.pkmn_icon{
width:50px;
}

div.roster_1_sprite{
background-repeat:no-repeat;
background-position:center center;
width:232px;
height:200px;
position:absolute;
top:00px;
left:00px;
}
div.roster_2_sprite{
background-repeat:no-repeat;
background-position:center center;
width:232px;
height:200px;
position:absolute;
top:120px;
left:80px;
}
div.roster_3_sprite{
background-repeat:no-repeat;
background-position:center center;
width:232px;
height:200px;
position:absolute;
top:00px;
left:390px;
}
div.roster_4_sprite{
background-repeat:no-repeat;
background-position:center center;
width:232px;
height:200px;
position:absolute;
top:120px;
left:470px;
}
div.roster_5_sprite{
background-repeat:no-repeat;
background-position:center center;
width:232px;
height:200px;
position:absolute;
top:00px;
left:780px;
}
div.roster_6_sprite{
background-repeat:no-repeat;
background-position:center center;
width:232px;
height:200px;
position:absolute;
top:120px;
left:860px;
}

div.roster_1_nickname{
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:25px;
width:200px;
height:30px;
position:absolute;
top:62px;
left:197px;
}

div.roster_1_species{
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size:22px;
width:200px;
height:30px;
position:absolute;
top:86px;
left:197px;
}

div.roster_1_level{
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size:22px;
width:200px;
height:30px;
position:absolute;
top:86px;
left:310px;
}

div.roster_1_type_1{
background-color:rgba(0,0,0,0);
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:16px;
text-align:center;
color:#ffffff;
width:80px;
height:20px;
position:absolute;
top:115px;
left:198px;
border-radius: 10px 10px 10px 10px;
padding-right:00px;
}

div.roster_1_type_2{
background-color:rgba(0,0,0,0);
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:16px;
text-align:center;
color:#ffffff;
width:70px;
height:20px;
position:absolute;
top:115px;
left:258px;
border-left-color: #ffffff;
border-left-style:solid;
border-left-width:2px;
border-radius: 0px 10px 10px 0px;
margin-left:10px;
}

div.roster_1_gender{
background-color:rgba(0, 0, 0, 0);
font-family: 'Courier Prime', monospace;
font-weight:bold;
font-size:16px;
text-align:center;
color:#ffffff;
width:20px;
height:20px;
position:absolute;
top:60px;
left:360px;

border-radius: 10px;
margin-left:10px;
}



div.roster_2_nickname{
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:25px;
width:200px;
height:30px;
position:absolute;
top:182px;
left:277px;
}

div.roster_2_species{
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size:22px;
width:200px;
height:30px;
position:absolute;
top:206px;
left:277px;
}

div.roster_2_level{
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size:22px;
width:200px;
height:30px;
position:absolute;
top:206px;
left:390px;
}

div.roster_2_type_1{
background-color:rgba(0,0,0,0);
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:16px;
text-align:center;
color:#ffffff;
width:80px;
height:20px;
position:absolute;
top:235px;
left:278px;
border-radius: 10px 10px 10px 10px;
padding-right:00px;
}

div.roster_2_type_2{
background-color:rgba(0,0,0,0);
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:16px;
text-align:center;
color:#ffffff;
width:70px;
height:20px;
position:absolute;
top:235px;
left:338px;
border-left-color: #ffffff;
border-left-style:solid;
border-left-width:2px;
border-radius: 0px 10px 10px 0px;
margin-left:10px;
}

div.roster_2_gender{
background-color:rgba(0, 0, 0, 0);
font-family: 'Courier Prime', monospace;
font-weight:bold;
font-size:16px;
text-align:center;
color:#ffffff;
width:20px;
height:20px;
position:absolute;
top:180px;
left:440px;

border-radius: 10px;
margin-left:10px;
}


div.roster_3_nickname{
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:25px;
width:200px;
height:30px;
position:absolute;
top:62px;
left:587px;
}

div.roster_3_species{
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size:22px;
width:200px;
height:30px;
position:absolute;
top:86px;
left:587px;
}

div.roster_3_level{
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size:22px;
width:200px;
height:30px;
position:absolute;
top:86px;
left:700px;
}

div.roster_3_type_1{
background-color:rgba(0,0,0,0);
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:16px;
text-align:center;
color:#ffffff;
width:80px;
height:20px;
position:absolute;
top:115px;
left:588px;
border-radius: 10px 10px 10px 10px;
padding-right:00px;
}

div.roster_3_type_2{
background-color:rgba(0,0,0,0);
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:16px;
text-align:center;
color:#ffffff;
width:70px;
height:20px;
position:absolute;
top:115px;
left:648px;
border-left-color: #ffffff;
border-left-style:solid;
border-left-width:2px;
border-radius: 0px 10px 10px 0px;
margin-left:10px;
}

div.roster_3_gender{
background-color:rgba(0, 0, 0, 0);
font-family: 'Courier Prime', monospace;
font-weight:bold;
font-size:16px;
text-align:center;
color:#ffffff;
width:20px;
height:20px;
position:absolute;
top:60px;
left:750px;

border-radius: 10px;
margin-left:10px;
}



div.roster_4_nickname{
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:25px;
width:200px;
height:30px;
position:absolute;
top:182px;
left:667px;
}

div.roster_4_species{
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size:22px;
width:200px;
height:30px;
position:absolute;
top:206px;
left:667px;
}

div.roster_4_level{
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size:22px;
width:200px;
height:30px;
position:absolute;
top:206px;
left:780px;
}

div.roster_4_type_1{
background-color:rgba(0,0,0,0);
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:16px;
text-align:center;
color:#ffffff;
width:80px;
height:20px;
position:absolute;
top:235px;
left:668px;
border-radius: 10px 10px 10px 10px;
padding-right:00px;
}

div.roster_4_type_2{
background-color:rgba(0,0,0,0);
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:16px;
text-align:center;
color:#ffffff;
width:70px;
height:20px;
position:absolute;
top:235px;
left:728px;
border-left-color: #ffffff;
border-left-style:solid;
border-left-width:2px;
border-radius: 0px 10px 10px 0px;
margin-left:10px;
}

div.roster_4_gender{
background-color:rgba(0, 0, 0, 0);
font-family: 'Courier Prime', monospace;
font-weight:bold;
font-size:16px;
text-align:center;
color:#ffffff;
width:20px;
height:20px;
position:absolute;
top:180px;
left:830px;

border-radius: 10px;
margin-left:10px;
}

div.roster_5_nickname{
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:25px;
width:200px;
height:30px;
position:absolute;
top:62px;
left:977px;
}

div.roster_5_species{
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size:22px;
width:200px;
height:30px;
position:absolute;
top:86px;
left:977px;
}

div.roster_5_level{
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size:22px;
width:200px;
height:30px;
position:absolute;
top:86px;
left:1090px;
}

div.roster_5_type_1{
background-color:rgba(0,0,0,0);
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:16px;
text-align:center;
color:#ffffff;
width:80px;
height:20px;
position:absolute;
top:115px;
left:978px;
border-radius: 10px 10px 10px 10px;
padding-right:00px;
}

div.roster_5_type_2{
background-color:rgba(0,0,0,0);
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:16px;
text-align:center;
color:#ffffff;
width:70px;
height:20px;
position:absolute;
top:115px;
left:1038px;
border-left-color: #ffffff;
border-left-style:solid;
border-left-width:2px;
border-radius: 0px 10px 10px 0px;
margin-left:10px;
}

div.roster_5_gender{
background-color:rgba(0, 0, 0, 0);
font-family: 'Courier Prime', monospace;
font-weight:bold;
font-size:16px;
text-align:center;
color:#ffffff;
width:20px;
height:20px;
position:absolute;
top:60px;
left:1140px;

border-radius: 10px;
margin-left:10px;
}


div.roster_6_nickname{
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:25px;
width:200px;
height:30px;
position:absolute;
top:182px;
left:1057px;
}

div.roster_6_species{
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size:22px;
width:200px;
height:30px;
position:absolute;
top:206px;
left:1057px;
}

div.roster_6_level{
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size:22px;
width:200px;
height:30px;
position:absolute;
top:206px;
left:1170px;
}

div.roster_6_type_1{
background-color:rgba(0,0,0,0);
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:16px;
text-align:center;
color:#ffffff;
width:80px;
height:20px;
position:absolute;
top:235px;
left:1058px;
border-radius: 10px 10px 10px 10px;
padding-right:00px;
}

div.roster_6_type_2{
background-color:rgba(0,0,0,0);
font-family: 'PT Sans', sans-serif;
font-weight:700;
font-size:16px;
text-align:center;
color:#ffffff;
width:70px;
height:20px;
position:absolute;
top:235px;
left:1118px;
border-left-color: #ffffff;
border-left-style:solid;
border-left-width:2px;
border-radius: 0px 10px 10px 0px;
margin-left:10px;
}

div.roster_6_gender{
background-color:rgba(0, 0, 0, 0);
font-family: 'Courier Prime', monospace;
font-weight:bold;
font-size:16px;
text-align:center;
color:#ffffff;
width:20px;
height:20px;
position:absolute;
top:180px;
left:1220px;

border-radius: 10px;
margin-left:10px;
}


/*input styles*/

input[type=text] {
  padding: 6px 6px;
  border: 2px solid #ccc;
  border-radius: 4px;
font-family: 'Courier Prime', monospace;
font-size: 16px;

}

input[type=submit]{
  background-color: #23007a;
  border: none;
  color: white;
  padding: 5px 10px;
  font-family: agenda, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=radio] {
    border: 0px;
    width: 30px;
    height: 30px;
}

input[type=radio].gender {
    border: 0px;
    width: 15px;
    height: 15px;
}



/* CSS for the Badges */

div.badge_roster{
background-color:(0, 0, 0, 0)
width:1300px;
height:300px;
color:#D97FFF;
font-family: 'Courier Prime', monospace;
font-size: 15px;
font-weight: 400;
text-align:left;
z-index:-10;
position:relative;
}

img.badge{
  opacity:0.5;

  margin:0px;
  border:0px;
  padding: 0px;
  width:76px;
  height:76px;
}

}
